<p>Users List</p>

<% @users.each do |user| %>
<table>

  <tr>
    <td>User Name</td>
    <td>Email</td>
    <td>Action</td>
    <td>Action</td>
  </tr>
  <tr>
    <td><%= link_to "#{user.login}", user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= link_to "Edit Profile", edit_user_path(user) %></td>
    <td><%= link_to "Delete", user, :method => :delete, :confirm => 'Are you sure?' %></td>
  </tr>
</table>

<% end %>
